/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

.container {
  padding: 3rem 1.5rem;
  text-align: center;
}

.cie {
  background: url('orders/cie.png') no-repeat;
  background-size: cover;
  color: black;
  font: 2.5mm/1.15em 'Arial', sans-serif;
  height: 54mm;
  margin: 3rem auto;
  position: relative;
  text-align: left;
  width: 86mm;

  .cie-picture {
    height: 30.5mm;
    left: 4mm;
    position: absolute;
    top: 10.25mm;
    width: 24.5mm;
  }

  .cie-name {
    left: 29.5mm;
    position: absolute;
    top: 13mm;
  }

  .cie-degree {
    left: 29.5mm;
    position: absolute;
    top: 20.5mm;
  }

  .cie-details {
    left: 39mm;
    position: absolute;
    top: 30.25mm;
  }

  .cie-use-code {
    font-weight: bold;
    left: 39.25mm;
    position: absolute;
    text-align: center;
    top: 45.9mm;
    width: 20.25mm;
  }

  .cie-year {
    font-size: 4.5mm;
    font-weight: bold;
    left: 67.5mm;
    position: absolute;
    text-align: center;
    top: 45.5mm;
    width: 11mm;
  }
}
