{% extends 'template.html' %}

{% block 'head-ext' %}
  <style>
    body {
      padding-top: 3rem;
    }

    label {
      font-weight: 600;
      text-align: right;
    }
  </style>
{% endblock %}

{% block 'content' %}
  <div class="container">
    <form action="{% url 'order-new' %}"
          method="post"
          enctype="multipart/form-data">
      {% csrf_token %}
      <div class="form-group row">
        <label for="display-name" class="col-sm-4">Nome</label>
        <div class="col-sm-8">
          <p>{{ order.student.get_full_name }}</p>
        </div>
      </div>
      <div class="form-group row">
        <label for="birthday" class="col-sm-4">Data de nascimento</label>
        <div class="col-sm-8">
          <p>{{ order.formatted_birthday }}</p>
        </div>
      </div>
      <div class="form-group row">
        <label for="cpf" class="col-sm-4">CPF</label>
        <div class="col-sm-8">
          <p>{{ order.formatted_cpf }}</p>
        </div>
      </div>
      <div class="form-group row">
        <label for="identity-number" class="col-sm-4">RG</label>
        <div class="col-sm-8">
          <p>{{ order.formatted_rg }}</p>
        </div>
      </div>
      <div class="form-group row">
        <label for="enrollment-number"
               class="col-sm-4">Matrícula</label>
        <div class="col-sm-8">
          <p>{{ order.enrollment_number }}</p>
        </div>
      </div>
      <div class="form-group row">
        <label for="degree-tier" class="col-sm-4">Curso</label>
        <div class="col-sm-8">
          <p>{{ order.formatted_degree }}</p>
        </div>
      </div>
      <div class="form-group row">
        <label for="picture" class="col-sm-4">Foto</label>
        <div class="col-sm-8">
          <input type="file"
                 class="form-control-file"
                 id="picture"
                 name="picture"
                 aria-describedby="picture-help"
                 required>
          <small id="picture-help" class="form-text text-muted">
            Escolha uma foto em que seu rosto esteja visível e focado.
          </small>
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-4 col-sm-8">
          <button type="submit" class="btn btn-primary">Finalizar pedido
          </button>
        </div>
      </div>
    </form>
  </div>
{% endblock %}

{% block 'footer-ext' %}
  {% load staticfiles %}
  <script src="{% static 'cie.js' %}"></script>
{% endblock %}
