{% extends 'template.html' %}

{% block 'stylesheets' %}
  {% load static %}

  <style type="text/x-scss">
    .container {
      padding: 3rem 1.5rem;
      text-align: center;
    }

    .cie {
      background: url('{% static 'orders/cie.png' %}') no-repeat;
      background-size: cover;
      color: black;
      font: 2.5mm/1.15em 'Arial', sans-serif;
      height: 54mm;
      margin: 3rem auto;
      position: relative;
      text-align: left;
      width: 86mm;

    .cie-picture {
      height: 30.5mm;
      left: 4mm;
      position: absolute;
      top: 10.25mm;
      width: 24.5mm;
    }

    .cie-name {
      left: 29.5mm;
      position: absolute;
      top: 13mm;
    }

    .cie-degree {
      left: 29.5mm;
      position: absolute;
      top: 20.5mm;
    }

    .cie-details {
      left: 39mm;
      position: absolute;
      top: 30.25mm;
    }

    .cie-use-code {
      font-weight: bold;
      left: 39.25mm;
      position: absolute;
      text-align: center;
      top: 45.9mm;
      width: 20.25mm;
    }

    .cie-year {
      font-size: 4.5mm;
      font-weight: bold;
      left: 67.5mm;
      position: absolute;
      text-align: center;
      top: 45.5mm;
      width: 11mm;
    }

    }
  </style>
{% endblock %}

{% block 'content' %}
  <div class="container">
    <h1>Seu pedido:</h1>
    <div class="cie">
      {% if object.picture %}
        <img class="cie-picture" src="{{ object.picture.url }}"/>
      {% endif %}
      <p class="cie-name">{{ object.student.get_full_name }}</p>
      <p class="cie-degree">
        Universidade Federal de Santa Catarina
        <br/>
        {{ object.degree.get_tier_display }}
        <br/>
        {{ object.degree.name }}
      </p>
      <p class="cie-details">
        {{ object.formatted_birthday }}
        <br/>
        {{ object.formatted_rg }}
        <br/>
        {{ object.formatted_cpf }}
      </p>
      {% if object.use_code %}
        <div class="cie-qr-code">{{ object.qr_code }}</div>
        <div class="cie-use-code">{{ object.use_code }}</div>
      {% endif %}
      <div class="cie-year">{{ object.created_at.year }}</div>
    </div>
  </div>
{% endblock %}

{% block 'scripts' %}
  {% load staticfiles %}
  <script src="{% static 'cie.js' %}"></script>
{% endblock %}
