{% extends 'template.html' %}

{% block 'stylesheets' %}
  {% load static %}

  <style type="text/x-scss">

  </style>
{% endblock %}

{% block 'content' %}
  <div class="container">
    <h1>Seu pedido:</h1>
    <div class="cie">
      {% if object.picture %}
        <img class="cie-picture" src="{{ object.picture.url }}"/>
      {% endif %}
      <p class="cie-name">{{ object.student.get_full_name }}</p>
      <p class="cie-degree">
        Universidade Federal de Santa Catarina
        <br/>
        {{ object.degree.get_tier_display }}
        <br/>
        {{ object.degree.name }}
      </p>
      <p class="cie-details">
        {{ object.formatted_birthday }}
        <br/>
        {{ object.formatted_rg }}
        <br/>
        {{ object.formatted_cpf }}
      </p>
      {% if object.use_code %}
        <div class="cie-qr-code">{{ object.qr_code }}</div>
        <div class="cie-use-code">{{ object.use_code }}</div>
      {% endif %}
      <div class="cie-year">{{ object.created_at.year }}</div>
    </div>
  </div>
{% endblock %}
